<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL- Shortener</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
   <main class="container">
    <h1>URL Shortener</h1>
    <% if (!locals.isHome) { %>
        <div class="go-back">
            <button><a href="/">Go Back</a></button>
        </div>
    <% } %>
    <div class="ruler"></div>
    <form method="POST" action="/createurl" class="form">
        <label for="url">Enter Your Original URL: &nbsp;</label>
        <input type="text" name="originalURL" id="url" placeholder="Type/Paste Your URL Here">
        <button type="submit">Generate URL</button>
    </form>
    <% if (locals.id) { %>
        <p> Generated URL: <a href="<%= id %>" target="_blank" >http://127.0.0.1:8000/:<%= id %></a></p>
    <% } %>

    <div class="all-urls">
        <% if (locals.urls) { %>
         <table>
            <caption>Previously Sortend Url's</caption>
            <thead>
                <tr class="theader">
                    <th>Id:</th>
                    <th>ShortId</th>
                    <th>Redirects</th>
                    <th>Visits</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach((url, index) => { %>
                    <tr class="tbody">
                        <td><%= index + 1 %></td>
                        <td><a href="<%= url.shortId %>" target="_blank" title="<%= url.redirectURL %>">:/<%= url.shortId %></a></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                        <td class="delete-icon"><button><img src="./delete.gif" alt="delete" srcset=""></button> </td>
                    </tr>
                <% }) %>
            </tbody>
         </table>
         <hr>
        <% } %>
    </div>
   </main>
</body>
</html>